$bodyblue: #026aa7;
$pagewhite: #e4f0f6;
$buttonorange: #ff781f;

body {
    background-color: $bodyblue;
    max-width: 1440px;
    max-height: 900px;
    margin: 50px;
    padding: 50px;
    .page {
        width: 1000px;
        height: 1100px;
        background-color: $pagewhite;
        padding: 50px;
        .navbar {
            display: flex;
            gap: 40rem;
            padding-left: 90px;
            .two {
                padding-top: 20px;
                button {
                    width: 120px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: black;
                    color: $pagewhite;
                }
            }   
        }
        .header {
            padding: 90px;
            h1 {
                padding: 2px;
            }
            p {
                padding-bottom: 10px;
                width: 300px;
            }
            button {
                width: 120px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: $buttonorange;
                color: $pagewhite;
            }
            h4 {
                display: flex;
                justify-content: end;
                color: $buttonorange;
                font-size: x-large;
            }
        }
        .options {
            display: flex;
            flex-wrap: wrap;
            padding-left: 200px;
            padding-bottom: 180px;
            width: 700px;
            gap: 1rem;
            .card1 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
            .card2 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
            .card3 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
            .card4 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
            .card5 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
            .card6 {
                width: 200px;
                height: 200px;
                border: black 1px solid;
                text-align: center;
            }
        }
    }
    .footer {
        display: flex;
        gap: 40rem;
        width: 100%;
        height: 50px;
        background-color: black;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
        h4 {
            color: #e4f0f6;
        }
        button {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: $buttonorange;
            color: #e4f0f6;
            border: none;
        }
    }
}

